* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --White: hsl(0, 0%, 100%);

  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

.main {
  padding: 20px;
  list-style-position: inside;
  width: 390px;
}
li {
  padding: 10px;
}

.omlrecipe {
  max-width: 100%;
  margin: 20px;
  padding: 20px;
}
h1 {
  color: var(--Stone-900);
  font-weight: 900;
  margin: 5px;
  padding: 5px;
  width: 17ch;
}
p {
  margin: 15px;
  color: var(--Stone-600);
  width: 30ch;
}
.preptime {
  background-color: var(--Rose-50);
  margin: 20px;
  padding: 20px;
  color: var(--rose-800);
}

h2 {
  color: var(--rose-800);
  margin: 20px;
  padding: 20px;
}

table {
  color: var(--rose-800);
  margin: 20px;
  padding: 20px;
}
.list1 {
  color: var(--rose-800);
  background-color: var(--Rose-50);
  margin: 20px;
  padding: 20px;
  width: 350px;
}
