:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}
body {
  background-color: lightblue;
}
.contain {
  align-self: center;
  border-radius: 100px;
  padding: 50px;
  box-sizing: border-box;
}
.parent {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
}

.plan {
  display: flex;
  background-color: rgba(233, 233, 233, 0.765);
  align-self: center;
  flex-direction: row;
  border-radius: 50px;
  margin: 12px;
  padding: 12px;
}
.img {
  border-radius: 25px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
h1 {
  align-self: center;
}

h2 {
  color: rgb(158, 157, 157);
  align-self: center;
}

.pay {
  align-self: center;
  font-size: 35px;
  margin: 15px;
  background-color: blue;
  color: white;
  border-radius: 50px;
  padding: 20px;
}
.but {
  border-left: 0px;
  color: blue;
  border-bottom: solid 2px;

  border-top: 0px;
  border-right: 0px;
}
p {
  align-self: center;
}
