:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}
body {
  background-color: lightblue;
}

.parent {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  margin: auto;
}

.img {
  border-radius: 25px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
h1 {
  align-self: center;
}

p {
  align-self: center;
  margin: 20px;
  color: var(--Desaturated-blue);
  font-size: 16px;
}
.plan {
  display: flex;
  background-color: var(--Very-pale-blue);
  align-self: center;
  border-radius: 10px;
  margin: 12px;
  font-size: 16px;
  box-sizing: border-box;
  align-items: center;
  padding: 25px;
}

.pay {
  align-self: center;
  font-size: 16px;
  background-color: blue;
  color: white;
  border-radius: 15px;
  padding: 70px;
  box-sizing: border-box;
  font-weight: 900;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px;
}
.but {
  border-left: 0px;
  color: blue;
  border-bottom: solid 2px;
  background-color: inherit;
  border-top: 0px;
  border-right: 0px;
}
h2 {
  color: rgb(158, 157, 157);
  align-self: center;
}
.col {
  color: var(--Dark-blue);
}
.lite {
  color: var(--Desaturated-blue);
}
