:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}
* {
  margin: 0;
}
body {
  background-color: lightblue;
}
.inline {
  display: inline-block;
  background-color: white;
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
  border-radius: 20px;
}
.parent {
  display: inline;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  margin: 25px;
  justify-content: center;
}

.img {
  border-radius: 25px;
  display: inline-block;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  width: 900px;
}
h1 {
  text-align: center;
  background-color: white;
}

p {
  text-align: center;
  margin: 20px;
  color: var(--Desaturated-blue);
  font-size: 16px;
  background-color: white;
}
.plan {
  display: flex;
  background-color: var(--Very-pale-blue);
  align-items: center;
  border-radius: 10px;
  margin: 12px;
  font-size: 16px;

  padding: 25px;
  justify-content: space-between;
}
.but {
  border-left: 0px;
  color: blue;
  border-bottom: solid 2px;
  background-color: inherit;
  border-top: 0px;
  border-right: 0px;
}

.pay {
  justify-content: center;
  font-size: 16px;
  background-color: blue;
  color: white;
  border-radius: 15px;
  padding: 70px;
  box-sizing: border-box;
  font-weight: 900;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px;
}

h2 {
  background-color: white;
  text-align: center;
  color: grey;
}
