 {
  border: 1px solid red;
  padding: 4px;
}

body {
  padding: 16px;
  border: 0;
}

.smells {
  display: flex;
  flex-flow: column;
  align-content: center;
  border: 2px solid rgb(29, 26, 240);
  justify-content: center;
  font-weight: 900;
}
.smell1 {
  display: flex;
}
.smell2 {
  width: 300px;
  background-color: green;
  justify-content: space-around;
  display: flex;
}
