* {
  border: 1px solid red;
  padding: 4px;
}

body {
  padding: 16px;
  border: 0;
}

.add {
  display: flex;
  flex-flow: row;
  align-items: center;
  border: 2px solid rgb(29, 26, 240);
  height: 500px;
  width: 500px;
}
.child {
  display: flex;
  flex-direction: space-between;
}
